* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "iranyekanwebregular", 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    padding: 21px 0 7px;
    background-color: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 5;
}

.header-ul {
    list-style-type: none;
    display: flex;
}

.header-ul li {
    margin: 0 15px;
    font-size: 14px;
}

.header-ul li a {
    color: #303030;
}

.header-ul li:last-child a {
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    font-family: YekanBakhBold;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.header-ul li:last-child a:hover {
    background-color: #fbf6d9;
}

.logo {
    margin: 11px 28px;
}

.more-menu {
    display: flex;
}

.more-menu img {
    width: 8px;
    margin-right: 8px;
}

.banner {
    width: 1050px;
    padding: 124px 60px 80px;
    background-image: linear-gradient(135deg, #21254e, #2b4a83);
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: -2;
}

.banner-text h3 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    color: #ffffff;
}

.banner-text p {
    color: #fff;
    font-size: 1.15rem;
    margin: 25px 0;
    width: 510px;
    line-height: 2.5rem;
}

.banner-image {
    width: 500px;
}

.wave {
    background-size: cover;
    position: absolute;
    z-index: -1;
    bottom: 60px;
    left: 0;
}

.register {
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #000;
    background-color: #ffd900;
    border-radius: 10px;
    border: none;
    padding: 6px 15px;
    margin-left: 10px;
}

.login {
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #fff;
    background-color: #435a8a;
    border-radius: 10px;
    border: none;
    padding: 6px 15px;
}

.go-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}

.go-down div {
    background-image: url(../images/arrowbottom.svg);
    width: 165px;
    height: 80px;
}

.go-down img {
    width: 15px;
    position: relative;
    top: -60px;
}

.online-payment {
    width: 1170px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

.online-payment .section-image {
    width: 463px;
    height: 483px;
}

.section-text {
    margin: 30px 0;
    width: 530px;
}

.section-text h2 {
    color: #747480;
    font-family: YekanBakhMedium;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 20px 0 5px;
}

.section-text h3 {
    color: #303030;
    font-family: YekanBakhHeavy;
    font-weight: 600;
    font-size: 2rem;
    margin: 5px 0 10px;
}

.section-text p {
    color: #303030;
    font-family: YekanBakhMedium;
    text-align: justify;
    line-height: 40px;
    border-bottom: 1px solid #dfe1e4;
    padding-bottom: 20px;
}

.section-links {
    margin-top: 40px;
    display: flex;
}

.section-links .first-butten {
    font-family: YekanBakhMedium;
    color: #000;
    background-color: #ffd900;
    padding: 8px;
    border-radius: 10px;
    margin-left: 10px;
}

.section-links .second-butten {
    font-family: YekanBakhMedium;
    font-size: 0.9rem;
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.7);
    padding: 6px 14px;
    border-radius: 10px;
}

.section-links .second-butten img {
    margin-right: 5px;
    position: relative;
    top: 8px;
}

.attributes {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.definition {
    width: 35%;
    margin-top: 50px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    padding: 30px;
}

.items img {
    width: 60px;
    height: 60px;
}

.items .item {
    padding: 18px 25px 20px 0;
}

.items .item p {
    text-align: justify;
}

.items p {
    margin: 20px 0 20px 10px;
    font-size: 1rem;
    font-family: YekanBakhHeavy;
    color: #303030;
    line-height: 36px;
}

.item h5 {
    font-size: 1.5rem;
    margin-right: 20px;
    font-family: YekanBakhHeavy;
}

.items .item div {
    display: flex;
    align-items: center;
}

.definition h3 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
}

.definition p {
    width: 85%;
    line-height: 30px;
    font-size: 1rem;
    margin-top: 40px;
    text-align: justify;
}

.first-item {
    border-left: 1px solid #e0e4e7;
}

.second-item {
    border-bottom: 1px solid #e0e4e7;
}

.third-item {
    border-top: 1px solid #e0e4e7;
}

.fourth-item {
    border-right: 1px solid #e0e4e7;
}